.matchDetails {
    background-color: rgb(96, 239, 116);
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0px 1px 13px rgba(96, 239, 115, 0.433);
    margin-bottom: 15px;
}

.matchDetailsTitle {
    font-family: 'Modak',
        sans-serif;
    font-size: 4em;
    padding-top: 30px;
    padding-left: 30px;
}

.matchDetailsDescription {
    padding-top: 30px;
    padding-left: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.MatchesImg {
    width: 500px;
    height: 400px;
    margin-left: 70px ;
}

.MatchCol {
    display: flex;
}

.MatchesButtons {
    display: flex;
    justify-content: space-between;
}

.playersMatch {
    border: 7px solid rgb(96, 239, 116);
    width: 200px;
    height: 100px;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0px 1px 13px rgba(96, 239, 115, 0.433);
    padding: 10px;
}

.containerMatch {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.hrMatch {
    color: rgb(96, 239, 116);
    height: 4px;
}

.mapMatch {
    border: 7px solid rgb(96, 239, 116);
    border-radius: 8px;
}