.search img {
    width: 50px;
    margin-right: 10px;
}

/* .search {
    color: black;
}



/* a {
    text-decoration: none;
} */
*/
/* .searchbox {
    margin-bottom: 20px;
} */

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.searchbar {
    margin: 30px 8px 30px 8px;
}

.inputBoardGame {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #f3f3f4;
    transition: .3s ease;
}

a {
    text-decoration: none;
}

.search {
    color: #003cff;
}

.inputBoardGame::placeholder {
    color: #ffffff;
}

.inputBoardGame:focus,
inputBoardGame:hover {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    outline: none;
    border-color: #000000;
    background-color: #003cff8b;
    box-shadow: 0 0 0 2px #003cff;
}